* {
  box-sizing: border-box;
  font-family: "Lucida Grande", sans-serif;
}

code, pre, .sourceCode span {
  font-family: "Cartograph Mono CF", monospace !important;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
}

#TOC {
  display: block;
  width: 200px;
  height: 100%;
  overflow-x: scroll;

  background-color: aliceblue;
}

#main {
  padding: 10px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
